.container {
    width: 100%;
}


.left:hover{
        width: 206px;
        transition: 0.5s;
}

.left:hover p {
    width: 128px;
    margin-left: 16px;
    transition: 0.5s;
}

.left:hover .logo {
    margin-left: 50px;
    transition: 0.5s;
}


