.left {
    width: 100px;
    display: grid;
    grid-column: auto;
    background-color: #F7F6FF;
    height: 100vh;
    position: relative;
}

.logo {
   position: absolute;
   top: 52px;
   left: 16px;
}

.line{
    height: 3px;
    background-color: #C4C4C4;
    width: 62px;
    position: absolute;
    top: 110px;
    left: 18px;
}
.vectors {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 158px;
    left: 9px;
    padding: 10px 120px 10px 30px;
    background-color: #fff;
    gap: 37px;
    align-items: center;
    border-radius: 25px 0px 0px 25px;
}

.vectors > a {
    text-decoration: none;
    font-size: 16px;
    color:#02577A;
    font-family: 'Montserrat';
}

.vector1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 233px;
    left: 10px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 37px;
    border-radius: 25px 0px 0px 25px;
}

.vector1 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}
.vectors:hover {
    background:#F7F6FF ;
}

.vector1:hover {
    background-color:#fff;
    color: #02577A;
}

.vector1>a:hover {
    color: #02577A;
}

.vector2:hover {
    background-color:#fff;
}

.vector2>a:hover {
    color: #02577A;
}

.vector3:hover {
    background-color:#fff;
}

.vector3:hover>a:hover {
    color: #02577A;
}

.vector2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 292px;
    left: 10px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 37px;
    border-radius: 25px 0px 0px 25px;
}
.vector2 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.vector3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 351px;
    left: 4px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    border-radius: 25px 0px 0px 25px;
}
.vector3 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.right {
    background-color: #EBEEF5;
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
    grid-row: 4;
    grid-template-rows: 1fr 2fr 1fr 0.5fr;
    width: 100%;
}
.right > .name {
 justify-content: center;
 align-items: center;
 grid-column: 1/2;
 grid-row: 1/2;
 font-size: 40px;
}

.right > .paragraf {
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px 30px;
   }

.line2 {
    height: 2px;
    background-color: #02577A;
    width: 346px;
    top: 681px;
    left: 547px;
}

.institute {
    position: absolute;
    width: 17.7%;
    left: 590px;
    top: 710px;
    color: #02577A;
}