@import url('https://fonts.googleapis.com/css?family=Montserrat');


.left {
    width: 100px;
    display: grid;
    grid-column: auto;
    background-color: #F7F6FF;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

.logo {
   position: absolute;
   top: 52px;
   left: 16px;
}

.line{
    height: 3px;
    background-color: #C4C4C4;
    width: 62px;
    position: absolute;
    top: 110px;
    left: 18px;
}
.vectors {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 158px;
    left: 9px;
    padding: 10px 120px 10px 30px;
    background-color: #fff;
    gap: 37px;
    align-items: center;
    border-radius: 25px 0px 0px 25px;
}

.vectors > a {
    text-decoration: none;
    font-size: 16px;
    color:#02577A;
    font-family: 'Montserrat', sans-serif;
}

.vector1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 233px;
    left: 10px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 37px;
    border-radius: 25px 0px 0px 25px;
}

.vector1 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.vectors:hover {
    background:#F7F6FF ;
}

.vector1:hover {
    background-color:#fff;
    color: #02577A;
}

.vector1>a:hover {
    color: #02577A;
}

.vector2:hover {
    background-color:#fff;
}

.vector2>a:hover {
    color: #02577A;
}

.vector3:hover {
    background-color:#fff;
}

.vector3:hover>a:hover {
    color: #02577A;
}

.vector2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 292px;
    left: 10px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 37px;
    border-radius: 25px 0px 0px 25px;
}
.vector2 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
    font-weight: 500;
}

.vector3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 351px;
    left: 4px;
    padding: 10px 120px 10px 30px;
    align-items: center;
    text-decoration: none;
    gap: 30px;
    border-radius: 25px 0px 0px 25px;
}
.vector3 > a {
    text-decoration: none;
    font-size: 16px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.right {
background-color: #EBEEF5;
display: grid;
grid-column: 2;
grid-template-columns: 2fr 2fr;
grid-row: 4;
grid-template-rows: 1.8fr 1.8fr 1fr 0.5fr;
margin-left: 100px;
width: 100%;
height: 100vh;
align-items: center;
justify-items: center;
font-family: "Montserrat", sans-serif;
}

.right > .name {
justify-content: center;
align-items: center;
grid-column: 1/2;
grid-row: 1/2;
font-size: 40px;
padding: 10px 200px;
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 44px;
}

.right > .paragraf {
grid-column: 2/3;
grid-row: 1/2;
padding: 22px 96px;
font-size: 24px;
background-color: #FFFFFF;
border-radius: 25px;
font-family: "Montserrat", sans-serif;
font-size: 36px;
}

.right > .paragraf > .time {
color: #02577A
}
.right > .paragraf > .date {
font-size: 24px;
}

.right > .main {
grid-column: 1/ span 3;
grid-row: 2/3;
width: 100%;
height: 360px;
}

.right > .text2 {
grid-column: 1/ span 3;
grid-row: 3/4;
padding: 30px 190px;
border-radius: 25px;
border: 2px solid #02577A;
font-size: 16px;
}

.right > .line2 {
height: 2px;
background-color: #02577A;
width: 346px;
grid-column: 1/ span 3;
grid-row: 4/5;
position: absolute;
top: 700px;
}

.right > .institute {
grid-column: 1/ span 3;
grid-row: 4/5;
color: black;
position: relative;
}

@media (max-width: 600px) {
.right {
grid-row: 5;
grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr;
grid-column: 1;
grid-template-columns: 1fr;
    }
.right > .name {  
grid-column: 1/2;
grid-row: 2/3; 
font-size: 20px;
padding: 33px 20px 33px 15px;
line-height: 20px;
}
.right > .paragraf {
margin-top: 30px;
margin-bottom: 20px;
grid-column: 1/2;
grid-row: 1/2;   
font-size: 20px; 
padding: 33px 40px 33px 15px;
    }
.right > .main {
grid-column: 1/2;
grid-row: 3/4;
height: 250px;
margin: 20px 0;
}
.right > .text2 {
grid-column: 1/2;
grid-row: 4/5;
padding: 20px 40px;
margin: 20px 0;
}
.right > .line2 {
grid-column: 1/2;
grid-row: 5/6;
top:685px;
}
.right > .institute {
grid-column: 1/2;
grid-row: 5/6;
position: relative;
}
}