.left {
    width: 100px;
    display: grid;
    grid-column: auto;
    background-color: #F7F6FF;
    height: 100vh;
    position: relative;
}
.logo {
   position: absolute;
   top: 52px;
   left: 16px;
}

.line{
    height: 5px;
    background-color: #C4C4C4;
    width: 62px;
    position: absolute;
    top: 110px;
    left: 18px;
}
.vectors {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 158px;
    left: 9px;
    padding: 10px 120px 10px 30px;
    background-color: #fff;
    gap: 30px;
    align-items: center;
}

.vectors > a {
    text-decoration: none;
    font-size: 18px;
    color:#02577A;
    font-family: 'Montserrat';
}

.vector1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 233px;
    left: 37px;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}

.vector1 > a {
    text-decoration: none;
    font-size: 18px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.vector2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 292px;
    left: 37px;
    align-items: center;
    text-decoration: none;
    gap: 30px;
}
.vector2 > a {
    text-decoration: none;
    font-size: 18px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.vector3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 351px;
    left: 30px;
    align-items: center;
    text-decoration: none;
    gap: 23px;
}
.vector3 > a {
    text-decoration: none;
    font-size: 18px;
    color:#C4C4C4;
    font-family: 'Montserrat';
}

.right {
    background-color: #EBEEF5;
    display: grid;
    width: 93%;
    position: relative;
}

.line2 {
    position: absolute;
    height: 2px;
    background-color: #02577A;
    width: 346px;
    top: 681px;
    left: 547px;
}

.institute {
    position: absolute;
    width: 17.7%;
    left: 590px;
    top: 710px;  
}